/*Définition des polices*/

@font-face {
  font-family: "Open Sans", sans-serif, verdana;
  font-family: "Raleway", sans-serif, verdana;
}

/* Eléments principaux de la page */

@media all and (max-width: 1280px) {
}

header {
  font-family: "Raleway", Arial;
  font-weight: normal;
  background-color: "#F2F2F2";
}

/*Navigation*/

header nav {
text-align: right;
}


#logo img {
  width: 59px;
  height: 60px;
  background-position: top-left;
}

body h1 {
  font-size: medium;

}

/*Filtres*/

.encadrement {
	border-radius: 10px 5px 10px 5px;
	border: 1px solid black;

  }



/*footer*/

footer h1{
  font-family: "Raleway", Arial;
  font-weight: bold;
  font-size: medium;
  background-color: "#F2F2F2";

}
/*Navigation*/

footer nav ul {
	list-style-type: none;
  }

.a propos {
	color:blue;
}

.Nos hébergements{

}
